body { background-color: bisque;
}
/* ADD STYLING (FLEXBOX) */

#card-container {
  display: flex;
  flex-direction: row;

}
#app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 5px;
  justify-content: space-evenly;
  margin-top: 30px;
}

.button-container{
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
